/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

html {
  height:100%;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background-color: #E0E0E0;
  text-align:left;
}

/* Root area */
body .site {
  width:100%;
  max-width:960px;
  margin:48px auto;
  padding: 48px 40px;
  background-color:#FFFFFF
}

h1 {
  font-size: 21px;
  font-size: 1.5rem;
  line-height: 1.5;
}

h2 {
  font-size: 18px;
  font-size: 1.285714286rem;
  line-height: 1.6;
}

h3 {
  font-size: 16px;
  font-size: 1.142857143rem;
  line-height: 1.846153846;
}

a {
  outline: none;
  color: #21759B;
}

a:hover {
  color: #0F3647;
}

a:visited {
  color: #9F9F9F;
}

.container-year {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
}

.cam-wrapper {
  display: grid;
  grid-auto-flow: column;
}

table.calendar  {
  width: 280px;
  display: grid;
  #border-collapse: collapse;
  #min-width: 100%;
  grid-template-columns: repeat(7, 1fr)
}

.calendar thead, tbody, tr {
  display: contents;
}

.calendar th, td
{
  #display: table;
  height: 40px;
  text-align: center;
  #vertical-align: middle;
  display: grid;
  align-items: center;
}

.calendar th.workday {
	background: #dddddd;
}

.calendar th.weekend {
	background: #bbbbbb;
}

.calendar td.workday {
	background: #eeeeee;
}

.calendar td.weekend {
	background: #cccccc;
}
